.navbar-nav .nav-link:hover {
  color: #1bbba1 !important;
}
.c {
  color: black !important;
}
.c:hover {
  color: #1bbba1 !important;
}
.c1 {
  color: white !important;
}
.c1:hover {
  color: #1bbba1 !important;
}
.custom-bg-color {
  background-color: #1bbba1;
}

.custom-color {
  color: #1bbba1;
}
.custom-bg-color:hover {
  background-color: #1bbba1;
}

.custom-background {
  background-image: url("images/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.custom-background1 {
  background-image: url("images/hero-shape-2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.custom-background-about {
  background-image: url("images/about-shape-3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.custom-background-blog {
  background-image: url("images/blog-bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.custom-background-blog1 {
  background-image: url("images/blog-shape.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.custom-background-footer {
  background-image: url("images/footer-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.custom-border-radius {
  border-radius: 0px 85px 0px 130px;
}
.custom-border-radius2 {
  border-radius: 5px 100px 5px 140px;
}

.custom-border-radius1 {
  border-radius: 85px 0px 130px 0px;
}

.font {
  font-size: 60px !important;
}
.font2 {
  font-size: 45px !important;
}
.font3 {
  font-size: 35px !important;
}
.font4 {
  font-size: 55px !important;
}

.custom-bg-color-card1 {
  background-color: #82f2df;
}
.custom-bg-color-card2 {
  background-color: #ff9fae;
}
.custom-bg-color-card3 {
  background-color: #bfcafc;
}
.custom-bg-color-card4 {
  background-color: #fae8bf;
}
.custom-img-size {
  width: 70px;
  height: 170px;
}
.custom-img-size1 {
  width: 700px;
  height: 400px;
}

.service-container {
  width: 1200px;
  margin: auto;
  margin-top: 50px;
}

.title {
  font-size: 44px;
  color: #ff9fae;
  text-align: center;
}

.teacher-container {
  margin-top: 50px;
  padding: 30px;
}
/* .doc-card {
  width: 300px;

  height: 100%;
  box-shadow: 4px 4px 8px gray;
  border-radius: 10px;
  text-align: center;
  padding: 15px; 
}*/
.doc-img {
  width: 100%;
  height: 220px;
  border-radius: 5px;
}
.blog-img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.about-img {
  width: 100%;
  height: 100%;
  border-radius: 300px;
  margin-top: 20px;
}

.review-card {
  width: 250px;
  height: 300px;
  box-shadow: 4px 4px 8px gray;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}
.review-card img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
}

.doctor-img img {
  width: 150px;
  height: 150px;
  border-radius: 100px;
}
.doc-details-container {
  display: flex;
  justify-content: space-around;
  padding: 30px;

  width: 50%;
  margin: auto;
}
.doc-details-container img {
  width: 100%;
  height: 100%;
}
.doc-detail-btn {
  border: none;
  padding: 5px 10px;
  background-color: gray;
  color: white;
  border-radius: 5px;
}
.user-detais-container {
  height: 100vh;
  width: 75%;
  margin: auto;
}
.user-img img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}
.user-all {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.all-appointment-container {
  width: 90%;
  margin: auto;
  height: 100vh;
}
.about-box1 {
  background-color: #87b7e5;
}
.about-box2 {
  background-color: #edf4fb;
}
.about-box3 {
  background-color: #1e4870;
}
.about-text {
  color: #1e4870;
}
.about-bg {
  background-color: #fcfcfc;
}
.about-bg3 {
  background-color: #d1c4f9;
}
.about-box1-bg {
  border-radius: 50%;
}
.about-bg1 {
  border-radius: 50%;
}
.about-section {
  background-image: url("https://e0.pxfuel.com/wallpapers/516/379/desktop-wallpaper-aesthetic-lavender-background-pastel-aesthetic-pastel-purple-baby-purple.jpg");
  background-size: cover;
  background-position: center;
}
